fastapi==0.116.1 # Web framework
uvicorn==0.35.0 # ASGI server
requests==2.32.4 # HTTP client

agno==1.7.11 # https://github.com/agno-agi/agno

duckduckgo-search # toolkits https://docs.agno.com/tools/toolkits/search/duckduckgo

googlesearch-python # https://docs.agno.com/tools/toolkits/search/googlesearch
pycountry

ollama==0.5.3

openai==1.99.9
pydantic==2.11.7
pipdeptree