fastapi==0.116.1 # Web framework
uvicorn==0.35.0 # ASGI server
requests==2.32.4 # HTTP client
agno==1.7.11 # https://github.com/agno-agi/agno
ollama==0.5.3
langchain==0.3.27
langchain-core==0.3.74
langchain-community==0.3.27
langchainhub==0.1.21
openai==1.99.9
pydantic==2.11.7
pipdeptree